{% extends "base.html" %}

{% block content %}
<h2> Challenges </h2>


  <div class="row">
    <div class="col s12 m6">
      <!-- <div class="card deep-orange lighten-3">
        <div class="card-content white-text">
          <span class="card-title">Challenge Title   <i class="material-icons small" style="float:right;">stars</i></span>
          <p>Rooms:</p>
          <p>Total points:</p>
        </div>
        <div class="card-action">
          <a href="#">Show QR Code</a>
        </div>
      </div> -->
      {% for c in challengelist %}
      <div class="card deep-orange lighten-3">
        <div class="card-content white-text">
          <span class="card-title">{{c.title}} {% if c.official == true %}<i class="material-icons small" style="float:right;">stars</i>{%endif%}</span>
          <p>Rooms: {{c.rooms}}</p>
          <p>Total points: {{c.points}}</p>
        </div>
        <div class="card-action">
          <a href="#">Show QR Code</a>
        </div>
      </div>
      {% endfor%}
    </div>
  </div>

{% endblock %}
