{% extends "base.html" %}

{% block content %}
<h2> Campusjagd </h2>
<h3>Motivation</h3>
<p class="flow-text">
  Es gibt jedes Jahr neue Erstsemesterstudierende, die sich zu Beginn des Studiums nicht mit der Bennenung der Räume auskennen und dem Campus zurechtfinden. Es gibt bereits Karten und andere Hilfsmittel um solche Räume zu finden. Wenn man aber selber einfach mal auf Entdeckungsreise geht, dann bekommt man ein viel besseres Gespür für dem Campus an sich und findet in zeitlich begrenzten Situationen, wie zum Beispiel kurz vor einer Klausur, die Räume sicher wieder.
</p>
<p class="flow-text">
Aus diesem Grund haben wir diese Android App entwickelt um Erstsemesterstudierende spielerisch den Campus näherzubringen. Damit wird das Finden von Räumen gefördert und der Entdeckergeist gestärkt sowie körperliche Tätigkeit motiviert.
</p>

<h3>Die App</h3>
<p class="flow-text">
  Wenn ihr mitspielen wollt, ladet euch einfach unsere Android App im Play Store runter!
</p>

<div class="row">
  <div class="col s4">
<a href='https://play.google.com/store/apps/details?id=de.tubs.campusjagd&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img <img class="responsive-img" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
</div>
<div class="col s4">

</div>

  <div class="col s4">
  </div>

</div>
<div class="row">
  <div class="col s4">
    <img class="responsive-img" src="/static/screenshot1.png">
  </div>
  <div class="col s4">
    <img class="responsive-img" src="/static/screenshot2.png">
  </div>
  <div class="col s4">
    <img class="responsive-img" src="/static/screenshot3.png">
  </div>
</div>

<!-- Place this tag where you want the button to render. -->
<p class="flow-text">
Oder lade den Source Code auf GitHub herunter.
<a class="github-button" href="https://github.com/campusjagd" data-size="large" aria-label="Campusjagd auf GitHub">Get it on GitHub</a>
</p>

<h3>Unsere Präsentation</h3>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRkRU-KfOgdFIB96h_0dT8ZUUSunTIMzHIv19GHbvXxWo1ZCNFO_-5qf-uPtdg4sf7Le8oD9LYGjE-Y/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}
